* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    max-width: 728px;
    margin: 0 auto;
}

.slide_content {
    background-color: #292929;
    padding: 1.5rem;
}

img {
    width: 100%;
}

.slide_desc {
    font-size: 2rem;
    color: #FAFAFA;
    background-color: #292929;
    padding: 1rem 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control,
.slide_img,
.slide_text {
    display: none;
}

#slide_1:checked~.slide_content>#image_1,
#slide_1:checked~.slide_desc>#text_1 {
    display: block;
}

#slide_2:checked~.slide_content>#image_2,
#slide_2:checked~.slide_desc>#text_2 {
    display: block;
}

#slide_3:checked~.slide_content>#image_3,
#slide_3:checked~.slide_desc>#text_3 {
    display: block;
}

#slide_4:checked~.slide_content>#image_4,
#slide_4:checked~.slide_desc>#text_4 {
    display: block;
}

.slider_controls {
    display: flex;
}

.control_label {
    display: block;
    padding: 1rem;
    cursor: pointer;
}

.dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #848484;
    border: 0.3rem solid transparent;
    border-radius: 50%;
    transition: 0.5s;
}

.control_label:hover .dot {
    background-color: #FAFAFA;
}

#slide_1:checked~.slide_desc>.slider_controls>#label_1 .dot {
    background-color: transparent;
    border-color: #848484;
}

#slide_1:checked~.slide_desc>.slider_controls>#label_1:hover .dot {
    background-color: transparent;
    border-color: #FAFAFA;
}

#slide_2:checked~.slide_desc>.slider_controls>#label_2 .dot {
    background-color: transparent;
    border-color: #848484;
}

#slide_2:checked~.slide_desc>.slider_controls>#label_2:hover .dot {
    background-color: transparent;
    border-color: #FAFAFA;
}

#slide_3:checked~.slide_desc>.slider_controls>#label_3 .dot {
    background-color: transparent;
    border-color: #848484;
}

#slide_3:checked~.slide_desc>.slider_controls>#label_3:hover .dot {
    background-color: transparent;
    border-color: #FAFAFA;
}

#slide_4:checked~.slide_desc>.slider_controls>#label_4 .dot {
    background-color: transparent;
    border-color: #848484;
}

#slide_4:checked~.slide_desc>.slider_controls>#label_4:hover .dot {
    background-color: transparent;
    border-color: #FAFAFA;
}